body {
	background-color: #e4e4e4;
}

* {
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.articles {
	padding: 20px 0px;
	display: grid;
	width: 65%;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	gap: 35px 10px;
}

.article {
	background-color: #303030;
}

.thumbnail {
	background-color: #393939;
	height: 300px;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	border-bottom: 2px solid #000000;
}

.articleHeadline {
	margin: 10px;
	text-align: center;
	color: whitesmoke;
	font-size: 25px;
}

.sourceLogo {
	width: 50px;
}

.article:hover {
	cursor: pointer;
	background-color: #383838;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translatex(-100%);
	transition: all 0.5s;
}

.appear {
	opacity: 1;
	transform: translateX(0);
	filter: blur(0);
}

.overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 500ms;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	margin: 0 auto;
	margin-top: 10px;
	background: #ffc2c2;
	border-radius: 5px;
	width: 30%;
	position: relative;
}

.popup .close {
	margin-left: auto;
	margin-bottom: auto;
	margin-top: 0;
	padding-top: 0;
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
	border: none;
	background: none;
	color: #333;
}

.popup .close:hover {
	cursor: pointer;
	color: #525252;
}

.popup .content {
	padding: 5px;
	font-size: 14px;
}

.errorWrapper {
	padding-top: 100px;
	margin: auto;
}

h4 {
	font-size: 20px;
	text-align: center;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	grid-column: span 3;
	justify-self: center;
	margin-top: 100px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #4e4e4e;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 900px) {
	.articles {
		grid-template-columns: repeat(1, 1fr);
	}

	#thumbnail {
		height: 200px;
	}

	#articleHeadline {
		font-size: 20px;
	}

	.popup {
		width: 80%;
	}

	.popup .content {
		font-size: 12px;
	}
}
